[package]
name = "unicorn_1"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
unicorn-engine = "2.0.1"
elfy = "0.2.2"
elf = "0.7.0"